<script id="filters-template" type="text/template">
  <div class="row filter-wrap">
    <div class="col-md-3">
      <select id="gas" class="selectpicker in-row-margin" multiple data-selected-text-format="count">
        <& _.each(general_assemblies, function(data, ordinal) { &>
          <option value="<&= ordinal &>"><&= ordinal + ' (' + data.year_from + ' - ' + data.year_to + ')' &></option>
        <& }); &>
      </select>
    </div>
    <div class="col-md-3">
      <select id="parties" class="selectpicker in-row-margin" multiple data-selected-text-format="count">
        <& _.each(parties, function(party_letter) { &>
           <option value="<&= party_letter &>"><&= party_letter &></option>
        <& }); &>
      </select>
    </div>
    <div class="col-md-3">
      <select id="mps" class="selectpicker" multiple data-selected-text-format="count">
        <& _.each(mp_ids, function(mp_id) { &>
          <option value="<&= mp_id &>"><&= mps_name_hash[mp_id] &></option>
        <& }); &>
      </select>
    </div>
  </div>
  <div class="row filter-wrap">
    <div class="col-md-3">
      <div class="form-group">
        <div class='input-group date' id='date-from'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class='input-group date' id='date-to'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</script>