<script id="filters-template" type="text/template">
  <div class="row filter-wrap">
    <div class="col-md-3">
      <select class="selectpicker in-row-margin" multiple data-selected-text-format="count">
        <& _.each(general_assemblies, function(general_assembly) { &>
          <option><&= general_assembly &></option>
        <& }); &>
      </select>
    </div>
    <div class="col-md-3">
      <select class="selectpicker in-row-margin" multiple data-selected-text-format="count">
        <& _.each(parties, function(party) { &>
           <option><&= party &></option>
        <& }); &>
      </select>
    </div>
    <div class="col-md-3">
      <select class="selectpicker" multiple data-selected-text-format="count">
        <& _.each(mps, function(mp) { &>
          <option><&= mp &></option>
        <& }); &>
      </select>
    </div>
  </div>
  <div class="row filter-wrap">
    <div class="col-md-3">
      <div class="form-group">
        <div class='input-group date' id='date-from'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class='input-group date' id='date-to'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</script>