<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'index_manifest' %>
<% end %>
<% content_for :script do %>
  <%= render :partial => 'dependencies' %>
  <%= javascript_include_tag 'index_manifest' %>
  <%= render :partial => 'search/js_templates' %>
<% end %>

<section id="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="main-header">Það sem þingmenn eru að segja</h1>
      </div>
    </div>
  </div>
</section>
<section id="search-section">
</section>