<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'index_manifest' %>
<% end %>
<% content_for :script do %>
  <%= javascript_include_tag 'index_manifest' %>
<% end %>

<section id="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="main-header">Shit MP's say!</h1>
      </div>
    </div>
  </div>
</section>
<section id="search-section">
  <div class="container">
    <div class="row" id="search-bar-wrap">
    </div>
  </div>
</section>