<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'index_manifest' %>
<% end %>
<% content_for :script do %>
  <!-- Include bundle first since it contains jquery which the bootstrap-sprockets from 'application.js' need -->
  <%= javascript_include_tag 'bundle' %>
  <%= javascript_include_tag "application" %>
<% end %>

<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="main-header"></h1>
      </div>
    </div>
  </div>
</section>
<section id="main">
</section>
