/* Header Section */

.main-header {
  text-align: center; 
}

/* Search bar */

/* Filters */

.filter-wrap, .date-picker-wrap {
  margin-top: 20px;
}

.in-row-margin {
  margin-bottom: 10px;
}

.input-group.date {
  max-width: 220px;
}

/* Search results charts */

/* Search results table */