@import "global";

/* Header Section */
body {
  color: $maincolor;
}

.main-header {
  text-align: center; 
}

/* Search bar */

/* Filters */

.filter-wrap, .date-picker-wrap {
  margin-top: 20px;
}

.input-group.date {
  max-width: 220px;
}

.select {
  @include border;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: none;
  cursor: pointer;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  margin: 10px;
  padding: 6px 12px;
  width: 220px;
  text-transform: none;

  span {
    pointer-events: none;
  }
}

.option-wrap {
  @include border;
  @include boxshadow;
  background: rgba(255, 255, 255, 1);
  list-style: none;
  max-height: 550px;
  overflow-y: auto;
  padding: 5px 0 5px 0;
  position: absolute;
  right: 0px;
  width: 100%;
  top: 40px;
  z-index: 10;

  .option {
    cursor: pointer;
    padding-left: 20px;
    position: relative;
  }

  .option:hover { @include hover;}

  .glyphicon-ok {
    position: absolute;
    left: 3px;
    top: 2px;
  }
}

/* Side nav bar */

.side-nav {
  position: fixed;
  left: 15px;
  top: 40%;

  a {
    display: block;
  }
}

/* Timeseries */

/* Barchart */

/* Search results table */

/* Other */

.in-row-margin {
  margin-bottom: 10px;
}